[Unit]
Description=Daily renewal of Let's Encrypt certificates

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizeDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
